<!DOCTYPE HTML>
<!DOCTYPE html PUBLIC "" ""><HTML><HEAD>
<META http-equiv="Content-Type" 
content="text/html; charset=windows-1252"></HEAD>
<BODY>
<PRE>body {
background-color: lightblue;
}

h1 {
color: navy;
margin-left: 20px;
}</PRE></BODY></HTML>
